.f-w {
  width: 100%;
}
.f-h {
  height: 100%;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.p-x {
  padding-left: 10px;
  padding-right: 10px;
}
.p-x-l {
  padding-left: 10px;
}
.p-x-r {
  padding-right: 10px;
}
.p-y {
  padding-top: 10px;
  padding-bottom: 10px;
}
.m-x {
  margin-left: 10px;
  margin-right: 10px;
}
.p-y-t {
  padding-top: 10px;
}
.p-y-b {
  padding-bottom: 10px;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  clear: both;
}
